/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font-size: $font-size-base;
    font-weight: $font-weight-bolder;
    transition: $global-transition;

    span {
      // display: none;
      color: silver;
    }

    &:hover span {
      // display: inline;
      // margin-right: 2rem;
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}

.c-byline {
  font-size: $font-size-base;
  float: right;

  
  

  &__desc {
    // float: right;
    color: silver;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0 0  1px;

    &:hover {
      text-decoration: none;
      background-color: $color-light-gray;
      
    }
  }
}